#form{
  margin: 7%;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

#radio-methods{
  display:flex;
  justify-items: space-around;
}


#url-submit{
  display: flex;
  margin:20px;
  width:100%; 
}

#submit{
  width: 20%;
}
#url-input{
  width: 80%; 
}