#footer {
  background-color: #cdc9c3;
  height: 10vh;
  width: 100%;
  bottom: 0;
  color: #4b5d67;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#footer p {
  text-align: left;
  width: 100%;
  padding-left: 50px;
  font-weight: 700;
  font-size: 12px;
}
